@import './components';

.first-page {
    background-image: url("/assets/hero/mobile.jpg");
    background-color: $primary-dark;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .top-card {
        display: none;
    }

    .top-booking-form {
        display: none;
    }
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 120vh;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 0, 0, .5 );
    z-index: 3;
}

.nav {
    position: relative;
    top: -100vh;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: $primary-dark;

}

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 8rem;
        background-color: transparent;
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        li {
            font-family: 'Roboto';
            font-style: normal;
            font-size: 2.5rem;
            font-weight: 400;

            a {
                text-decoration: none;
            }

        }
    }

.header-buttons {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    align-items: flex-end;
}

@media (min-width: $breakpoint-tablet) {
    .first-page {
        background-image: url("/assets/hero/tablet.jpg");
        height: 120vh;

        .top-card {
            display: flex;
            position: absolute;
            right: 10px;
            bottom: -150px
        }

        .top-booking-form {
            position: relative;
            bottom: 590px;
            height: 540px;
            color: $secondary-light;
        }
    }

    .header-buttons {
        display: none;
    }

    .nav-container {
        justify-content: center;
        align-items: center;
    }

    .nav {
        border-radius: 3%;
        height: 75vh;
        width: 75vw;
        margin-bottom: 20vh;
    }
}

@media (min-width: $breakpoint-desktop) {
    .first-page {
        background-image: url("/assets/hero/desktop.jpg");
        background-position: top;

        .top-card {
            right: 80px;
            bottom: -220px;
        }
    }

    .nav {
        justify-content: space-around;
        height: 50vh;
        width: 50vw;
    }

    .nav-list {
        padding: 10px;
        height: 45vh;
    }
}