@import './components';

header {
  
  .logo {
    display: flex;

    .logo-img {
      display: none;
    }
  }
}

button {
  height: fit-content;
  width: fit-content;
}

.doner-menu-img {
  height: 100px;
  width: 100px;
}