main {
    background-color: #343833;
    color: #C5AFA2;

    .food {
        margin-top: -20px;
    }
}

@media (min-width: $breakpoint-tablet) {

}

@media (min-width: $breakpoint-desktop) {
    main {
        margin-top: -150px;
        border-top-left-radius: 100% 30%;
        border-top-right-radius: 100% 30%;
      }
}