main {
    background-color: #343833;
    color: #C5AFA2;

    .food {
        margin-top: -20px;
    }
}

.card {
    background-color: #8F7B6E;
    border-radius: 0 0 250px 250px;
    box-shadow: inset 0 0 5px 5px #00C9AC, 0 0 5px 5px #00C9AC;
    opacity: 90%;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    width: 341px;

    position: relative;
    text-align: center;

    .card-info {
        margin: 0;
        position: absolute;
        top: 10%;
        left: 50%;
        width: 264px;
        height: 50px;
        line-height: 35px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        

        .card-topic {
            font-family: 'Fugaz One';
            font-size: 24px;
            color: $secondary-light;
        }
        .card-title {
            font-family: 'Roboto';
            font-size: 24px;
            font-weight: 700;
            color: $secondary-light;
        }
        .card-text {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 400;
            color: #151614;
            width: 264px;
        }
    }

    .card-button {
        margin: 0;
        position: absolute;
        top: 88%;
        left: 50%;
        width: 150px;
        height: 50px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .booking-popup {
        display: none;
    }
}


@media (min-width: $breakpoint-tablet) {

}

@media (min-width: $breakpoint-desktop) {
    main {
        margin-top: -150px;
        border-top-left-radius: 100% 30%;
        border-top-right-radius: 100% 30%;
      }
}