* {
    box-sizing: border-box;
}

:root {
    background-color: #343833;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

$breakpoint-tablet: 744px;
$breakpoint-desktop: 1220px;

@import './components';
@import './header';
@import './first-page';
@import './second-page';
@import './footer';
@import './cookie-banner';

.hidden {
    display: none;
}